In [1]:
import findspark
import os
import configparser
findspark.init()
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from functools import reduce
from pyspark.sql import DataFrame
import pymongo

In [2]:

os.environ['PYSPARK_PYTHON'] = '/usr/bin/python3'
os.environ['PYSPARK_DRIVER_PYTHON'] = '/usr/bin/python3'



dataset1_path = './Dataset/datasets_894_813759_2015.csv'
dataset2_path = './Dataset/datasets_894_813759_2016.csv'
dataset3_path = './Dataset/datasets_894_813759_2017.csv'
dataset4_path = './Dataset/datasets_894_813759_2018.csv'
dataset5_path = './Dataset/sample.txt'



print(dataset1_path)

./Dataset/datasets_894_813759_2015.csv

In [3]:
sc = SparkSession.builder.config('spark.jars.packages',
                                    'org.apache.hadoop:hadoop-aws:2.6.4').getOrCreate()

# sc._jsc.hadoopConfiguration().set("fs.s3a.access.key",
#                                      os.environ['AWS_ACCESS_KEY_ID'])
# sc._jsc.hadoopConfiguration().set("fs.s3a.secret.key",
#                                      os.environ['AWS_SECRET_ACCESS_KEY'])
# sc._jsc.hadoopConfiguration().set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")

In [3]:
from pyspark import SparkConf, SparkContext
conf = (SparkConf()
         .setMaster("local")
         .setAppName("My app")
         .set("spark.executor.memory", "1g"))
sc = SparkContext(conf = conf)

In [4]:
# dataset_1_data = sc.read.csv(dataset1_path, header=True)
# dataset_2_data = sc.read.csv(dataset2_path, header=True)
# dataset_3_data = sc.read.csv(dataset3_path, header=True)
# dataset_4_data = sc.read.csv(dataset4_path, header=True)
data = sc.textFile(dataset5_path)
# dataset_5_data = sc.read.csv(dataset5_path, header=True)

In [5]:
words = data.flatMap(lambda line: line.split(" "))
wordscount = words.map(lambda word : (word, 1)).reduceByKey(lambda a, b : a + b)

In [8]:
sc

In [35]:
dataset_1_data = dataset_1_data.withColumn("Year", lit("2015"))

In [14]:
dataset_2_data = dataset_2_data.withColumn("Year", lit("2016"))
dataset_3_data = dataset_3_data.withColumn("Year", lit("2017"))
dataset_4_data = dataset_4_data.withColumn("Year", lit("2018"))
# dataset_5_data = dataset_5_data.withColumn("Year", lit("2019"))

In [36]:

dataset_1_data.toPandas()

,Country,Region,Happiness_Rank,Happiness_Score,Standard_Error,Economy (GDP per Capita),Family,Health(Life_Expectancy),Freedom,Trust(Government_Corruption),Generosity,Dystopia_Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.4363,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.0388,1.459,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
5,Finland,Western Europe,6,7.406,0.0314,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,2015
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.4761,2.4657,2015
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.6598,0.43844,0.36262,2.37119,2015
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,2015
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015
10,Israel,Middle East and Northern Africa,11,7.278,0.0347,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854,2015
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728,2015
12,Austria,Western Europe,13,7.2,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.5332,2015
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214,2015
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.1589,0.40105,2.51011,2015
15,Brazil,Latin America and Caribbean,16,6.983,0.04076,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001,2015
16,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961,2015
17,Ireland,Western Europe,18,6.94,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,1.9757,2015
18,Belgium,Western Europe,19,6.937,0.03595,1.30782,1.28566,0.89667,0.5845,0.2254,0.2225,2.41484,2015
19,United Arab Emirates,Middle East and Northern Africa,20,6.901,0.03729,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743,2015
20,United Kingdom,Western Europe,21,6.867,0.01866,1.26637,1.28548,0.90943,0.59625,0.32067,0.51912,1.96994,2015
21,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489,2015
22,Venezuela,Latin America and Caribbean,23,6.81,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131,2015
23,Singapore,Southeastern Asia,24,6.798,0.0378,1.52186,1.02,1.02525,0.54252,0.4921,0.31105,1.88501,2015
24,Panama,Latin America and Caribbean,25,6.786,0.0491,1.06353,1.1985,0.79661,0.5421,0.0927,0.24434,2.84848,2015
25,Germany,Western Europe,26,6.75,0.01848,1.32792,1.29937,0.89186,0.61477,0.21843,0.28214,2.11569,2015
26,Chile,Latin America and Caribbean,27,6.67,0.058,1.10715,1.12447,0.85857,0.44132,0.12869,0.33363,2.67585,2015
27,Qatar,Middle East and Northern Africa,28,6.611,0.06257,1.69042,1.0786,0.79733,0.6404,0.52208,0.32573,1.55674,2015
28,France,Western Europe,29,6.575,0.03512,1.27778,1.26038,0.94579,0.55011,0.20646,0.12332,2.21126,2015
29,Argentina,Latin America and Caribbean,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Myanmar,Southeastern Asia,129,4.307,0.04351,0.27108,0.70905,0.48246,0.44017,0.19034,0.79588,1.41805,2015
129,Georgia,Central and Eastern Europe,130,4.297,0.04221,0.7419,0.38562,0.72926,0.40577,0.38331,0.05547,1.59541,2015
130,Malawi,Sub-Saharan Africa,131,4.292,0.0613,0.01604,0.41134,0.22562,0.43054,0.06977,0.33128,2.80791,2015
131,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108,2015
132,Cameroon,Sub-Saharan Africa,133,4.252,0.04678,0.4225,0.88767,0.23402,0.49309,0.05786,0.20618,1.95071,2015
133,Bulgaria,Central and Eastern Europe,134,4.218,0.04828,1.01216,1.10614,0.76649,0.30587,0.00872,0.11921,0.89991,2015
134,Egypt,Middle East and Northern Africa,135,4.194,0.0326,0.8818,0.747,0.61712,0.17288,0.06324,0.11291,1.59927,2015
135,Yemen,Middle East and Northern Africa,136,4.077,0.04367,0.54649,0.68093,0.40064,0.35571,0.07854,0.09131,1.92313,2015
136,Angola,Sub-Saharan Africa,137,4.033,0.04758,0.75778,0.8604,0.16683,0.10384,0.07122,0.12344,1.94939,2015
137,Mali,Sub-Saharan Africa,138,3.995,0.05602,0.26074,1.03526,0.20583,0.38857,0.12352,0.18798,1.79293,2015
138,Congo (Brazzaville),Sub-Saharan Africa,139,3.989,0.06682,0.67866,0.6629,0.31051,0.41466,0.11686,0.12388,1.68135,2015
139,Comoros,Sub-Saharan Africa,140,3.956,0.04797,0.23906,0.79273,0.36315,0.22917,0.199,0.17441,1.95812,2015
140,Uganda,Sub-Saharan Africa,141,3.931,0.04317,0.21102,1.13299,0.33861,0.45727,0.07267,0.29066,1.42766,2015
141,Senegal,Sub-Saharan Africa,142,3.904,0.03608,0.36498,0.97619,0.4354,0.36772,0.10713,0.20843,1.44395,2015
142,Gabon,Sub-Saharan Africa,143,3.896,0.04547,1.06024,0.90528,0.43372,0.31914,0.11091,0.06822,0.99895,2015
143,Niger,Sub-Saharan Africa,144,3.845,0.03602,0.0694,0.77265,0.29707,0.47692,0.15639,0.19387,1.87877,2015
144,Cambodia,Southeastern Asia,145,3.819,0.05069,0.46038,0.62736,0.61114,0.66246,0.07247,0.40359,0.98195,2015
145,Tanzania,Sub-Saharan Africa,146,3.781,0.05061,0.2852,1.00268,0.38215,0.32878,0.05747,0.34377,1.38079,2015
146,Madagascar,Sub-Saharan Africa,147,3.681,0.03633,0.20824,0.66801,0.46721,0.19184,0.08124,0.21333,1.851,2015
147,Central African Republic,Sub-Saharan Africa,148,3.678,0.06112,0.0785,0,0.06699,0.48879,0.08289,0.23835,2.7223,2015
148,Chad,Sub-Saharan Africa,149,3.667,0.0383,0.34193,0.76062,0.1501,0.23501,0.05269,0.18386,1.94296,2015
149,Guinea,Sub-Saharan Africa,150,3.656,0.0359,0.17417,0.46475,0.24009,0.37725,0.12139,0.28657,1.99172,2015
150,Ivory Coast,Sub-Saharan Africa,151,3.655,0.05141,0.46534,0.77115,0.15185,0.46866,0.17922,0.20165,1.41723,2015
151,Burkina Faso,Sub-Saharan Africa,152,3.587,0.04324,0.25812,0.85188,0.27125,0.39493,0.12832,0.21747,1.46494,2015
152,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.3651,1.9521,2015
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.7737,0.42864,0.59201,0.55191,0.22628,0.67042,2015
154,Benin,Sub-Saharan Africa,155,3.34,0.03656,0.28665,0.35386,0.3191,0.4845,0.0801,0.1826,1.63328,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.6632,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.0153,0.41587,0.22396,0.1185,0.10062,0.19727,1.83302,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,2015

In [37]:
for col in list(dataset_1_data.columns):
    print(col, dataset_1_data.filter((dataset_1_data[col] == "") | dataset_1_data[col].isNull()).count())

Country 0
Region 0
Happiness_Rank 0
Happiness_Score 0
Standard_Error 0
Economy (GDP per Capita) 0
Family 0
Health(Life_Expectancy) 0
Freedom 0
Trust(Government_Corruption) 0
Generosity 0
Dystopia_Residual 0
Year 0

In [15]:
for col in list(dataset_2_data.columns):
    print(col, dataset_2_data.filter((dataset_2_data[col] == "") | dataset_2_data[col].isNull()).count())

Country 0
Region 0
Happiness Rank 0
Happiness Score 0
Lower Confidence Interval 0
Upper Confidence Interval 0
Economy (GDP per Capita) 0
Family 0
Health (Life Expectancy) 0
Freedom 0
Trust (Government Corruption) 0
Generosity 0
Dystopia Residual 0
Year 0

In [38]:
dataset_1_data.createOrReplaceTempView('dataset_1_data')

In [52]:
happiness_2015 = sc.sql(""" SELECT Country, Region, Happiness_Score
                                FROM dataset_1_data 
                                WHERE Happiness_Score > 6
                                
                                ORDER BY Happiness_Score DESC""")
happiness_2015.limit(10).toPandas()

       Country                     Region Happiness_Score
0  Switzerland             Western Europe           7.587
1      Iceland             Western Europe           7.561
2      Denmark             Western Europe           7.527
3       Norway             Western Europe           7.522
4       Canada              North America           7.427
5      Finland             Western Europe           7.406
6  Netherlands             Western Europe           7.378
7       Sweden             Western Europe           7.364
8  New Zealand  Australia and New Zealand           7.286
9    Australia  Australia and New Zealand           7.284

In [57]:
happiness_2015 = sc.sql(""" SELECT Country, Region, Happiness_Score
                                FROM dataset_1_data 
                                ORDER BY Happiness_Score""")
happiness_2015.limit(10).toPandas()

        Country                           Region Happiness_Score
0          Togo               Sub-Saharan Africa           2.839
1       Burundi               Sub-Saharan Africa           2.905
2         Syria  Middle East and Northern Africa           3.006
3         Benin               Sub-Saharan Africa            3.34
4        Rwanda               Sub-Saharan Africa           3.465
5   Afghanistan                    Southern Asia           3.575
6  Burkina Faso               Sub-Saharan Africa           3.587
7   Ivory Coast               Sub-Saharan Africa           3.655
8        Guinea               Sub-Saharan Africa           3.656
9          Chad               Sub-Saharan Africa           3.667

In [45]:
happiness_2015.write.format('com.databricks.spark.csv').save('./my.csv',header = 'true')

In [63]:
sc.stop()

In [59]:
#MongoDB tutorial

In [98]:
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://dbUser:<pass>@cluster0.t72w2.mongodb.net/myfirstdatabase?retryWrites=true&w=majority")
db = client.test

Collection(Database(MongoClient(host=['cluster0-shard-00-01.t72w2.mongodb.net:27017', 'cluster0-shard-00-00.t72w2.mongodb.net:27017', 'cluster0-shard-00-02.t72w2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-o9qwvt-shard-0', ssl=True), 'test'), 'test-collection')

In [99]:
mydb = client["firstdatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

In [100]:
mydict = { "name": "John", "address": "Highway 37" }

In [101]:
x = mycol.insert_one(mydict)

In [102]:
post_1 = {
    'title': 'Python and MongoDB',
    'content': 'PyMongo is fun, you guys',
    'author': 'Scott'
}
post_2 = {
    'title': 'Virtual Environments',
    'content': 'Use virtual environments, you guys',
    'author': 'Scott'
}
post_3 = {
    'title': 'Learning Python',
    'content': 'Learn Python, it is easy',
    'author': 'Bill'
}
new_result = mycol.insert_many([post_1, post_2, post_3])
print('Multiple posts: {0}'.format(new_result.inserted_ids))

Multiple posts: [ObjectId('5f2bcdfdd8def81850e9e781'), ObjectId('5f2bcdfdd8def81850e9e782'), ObjectId('5f2bcdfdd8def81850e9e783')]

In [95]:
bills_post = mycol.find_one({'author': 'Bill'})
print(bills_post)

{'_id': ObjectId('5f2bcca4d8def81850e9e77d'), 'title': 'Learning Python', 'content': 'Learn Python, it is easy', 'author': 'Bill'}

In [ ]:
mycol = mydb["customers"]

In [39]:
sc.stop()