In [1]:
import pandas as pd

In [2]:
pd

In [30]:
df = pd.read_csv('Dataset/data.csv')

In [213]:
df1 = pd.read_csv('Dataset/data.csv')

In [4]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [18]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [22]:
df.iloc[[0,1],2] #searching by location

9     Yes
32    Yes
Name: Hobbyist, dtype: object

In [31]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [41]:
df.loc[0:678,'Hobbyist':'Gender']

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender
0,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man
1,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN
2,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man
4,Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
5,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end;Developer, mobile","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man
6,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN
7,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
8,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,USD,NaN,NaN,"Developer, full-stack","Professional degree (JD, MD, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man
9,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,Microsoft SQL Server,Microsoft SQL Server,"Database administrator;Developer, full-stack;D...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man
10,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,GBP,Firebase;MongoDB;PostgreSQL,Firebase;MongoDB;PostgreSQL;SQLite,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
11,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end",Some college/university study without earning ...,Employed full-time,White or of European descent,Man
12,Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,NaN,NaN,"Designer;Developer, back-end","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man
13,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man
14,Yes,NaN,13,NaN,NaN,NaN,France,NaN,NaN,NaN,MySQL;Oracle,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,NaN,Man
15,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,NaN,PostgreSQL,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man
16,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,Cassandra;Elasticsearch;MariaDB;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
17,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,Elasticsearch;PostgreSQL;Redis;SQLite,Elasticsearch;MariaDB;MySQL;Redis;SQLite,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
18,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,USD,MariaDB;MongoDB,MariaDB;Microsoft SQL Server,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
19,Yes,40.0,18,NaN,NaN,NaN,Spain,European Euro,EUR,NaN,IBM DB2;MariaDB;Microsoft SQL Server;MySQL,"Developer, desktop or enterprise applications","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Hispanic or Latino/a/x,Man
20,Yes,23.0,16,NaN,NaN,NaN,Belgium,NaN,NaN,Firebase;MariaDB;MongoDB,Firebase;MariaDB;Microsoft SQL Server;MongoDB;...,NaN,"Secondary school (e.g. American high school, G...",Student,White or of European descent,Man
21,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,NaN,NaN,"Developer, full-stack;Engineer, data","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man
22,Yes,27.0,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,NaN,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
23,Yes,45.0,14,Yearly,85000.0,91883.0,Germany,European Euro,EUR,Cassandra;PostgreSQL,PostgreSQL;SQLite,"Developer, back-end","Professional degree (JD, MD, etc.)",Employed full-time,White or of European descent,Man
24,No,NaN,25,Monthly,NaN,NaN,Portugal,European Euro,EUR,MariaDB;Oracle,Oracle,"Developer, back-end;Developer, full-stack;DevO...","Associate degree (A.A., A.S., etc.)",Employed full-time,Hispanic or Latino/a/x,Man
25,No,NaN,12,Yearly,94000.0,71093.0,Canada,Canadian dollar,CAD,NaN,PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,East Asian,Man
26,Yes,NaN,12,NaN,NaN,NaN,United States,NaN,NaN,PostgreSQL;SQLite,Elasticsearch;MySQL;PostgreSQL;SQLite,"Database administrator;Developer, full-stack;E...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
27,Yes,NaN,22,NaN,NaN,NaN,China,NaN,NaN,NaN,NaN,NaN,Some college/university study without earning ...,Student,Black or of African descent,Man
28,Yes,18.0,15,NaN,NaN,NaN,Ukraine,NaN,NaN,MySQL;Oracle;PostgreSQL;SQLite,NaN,NaN,"Secondary school (e.g. American high school, G...",Student,NaN,Man
29,Yes,NaN,14,Yearly,30000.0,38778.0,United Kingdom,Pound sterling,GBP,Firebase;MongoDB,Microsoft SQL Server;Redis;SQLite,Data or business analyst;Database administrato...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,Yes,22.0,15,NaN,NaN,NaN,United States,NaN,NaN,Firebase;Microsoft SQL Server;Oracle,MySQL;SQLite,NaN,Some college/university study without earning ...,"Not employed, but looking for work",South Asian,"Non-binary, genderqueer, or gender non-conforming"
650,Yes,25.0,10,Monthly,5500.0,15120.0,Brazil,Brazilian real,BRL,Firebase,Firebase,"Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
651,Yes,36.0,10,Yearly,200000.0,151263.0,Canada,Canadian dollar,CAD,DynamoDB;MySQL;SQLite,DynamoDB;MySQL;Oracle;SQLite,Data scientist or machine learning specialist;...,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,White or of European descent,Man
652,Yes,22.0,13,Weekly,325.0,16250.0,United States,United States dollar,USD,MongoDB;PostgreSQL;SQLite,MySQL;Oracle;PostgreSQL;SQLite,"Designer;Developer, back-end;Developer, deskto...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",Southeast Asian,Man
653,No,NaN,28,NaN,NaN,NaN,Israel,NaN,NaN,Firebase,Firebase,"Developer, mobile",I never completed any formal education,"Not employed, but looking for work",NaN,Man
654,Yes,30.0,13,Yearly,75000.0,76237.0,Switzerland,Swiss franc,CHF,NaN,NaN,"Developer, front-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed part-time,White or of European descent,Man
655,Yes,21.0,17,NaN,NaN,NaN,"Venezuela, Bolivarian Republic of...",NaN,NaN,MySQL;SQLite,MySQL,"Academic researcher;Designer;Developer, front-end",Some college/university study without earning ...,"Not employed, but looking for work",Hispanic or Latino/a/x,Man
656,Yes,35.0,10,Yearly,150000.0,150000.0,United States,United States dollar,USD,DynamoDB;Elasticsearch;MySQL;PostgreSQL;Redis,DynamoDB;Elasticsearch;MySQL;PostgreSQL;Redis,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
657,Yes,NaN,17,NaN,NaN,NaN,Canada,NaN,NaN,Elasticsearch;Firebase;MongoDB;SQLite,MySQL;PostgreSQL;Redis,"Designer;Developer, back-end;Developer, deskto...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Not employed, but looking for work",Black or of African descent,Man
658,Yes,32.0,22,Monthly,NaN,NaN,Colombia,Colombian peso,COP,MongoDB;Oracle,MongoDB;MySQL;Oracle;PostgreSQL,"Data or business analyst;Developer, back-end;D...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Hispanic or Latino/a/x,Woman
659,Yes,32.0,8,Yearly,185000.0,185000.0,United States,United States dollar,USD,Elasticsearch;MySQL;PostgreSQL;Redis,Elasticsearch;MySQL,"Developer, back-end;Engineer, data","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,South Asian,Woman
660,Yes,22.0,17,NaN,NaN,NaN,Iran,NaN,NaN,MySQL;SQLite,SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,NaN,Man
661,Yes,20.0,13,NaN,NaN,NaN,Canada,Canadian dollar,CAD,Firebase;MariaDB;PostgreSQL;SQLite,Firebase;MariaDB;PostgreSQL;SQLite,"Academic researcher;Developer, desktop or ente...",Some college/university study without earning ...,Employed full-time,Southeast Asian,Man
662,Yes,24.0,22,Monthly,NaN,NaN,United States,United States dollar,USD,NaN,NaN,"Developer, desktop or enterprise applications;...",NaN,Employed part-time,White or of European descent,Man
663,Yes,24.0,13,Weekly,150000.0,2000000.0,United States,United States dollar,USD,NaN,PostgreSQL,"Developer, front-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Black or of African descent;Biracial,Woman
664,Yes,49.0,12,Yearly,156000.0,156000.0,United States,United States dollar,USD,Elasticsearch;Microsoft SQL Server;MongoDB;Redis,Microsoft SQL Server;MongoDB;MySQL,Data or business analyst;Database administrato...,Some college/university study without earning ...,Employed full-time,Hispanic or Latino/a/x,Man
665,No,NaN,18,Yearly,75000.0,75000.0,United States,United States dollar,USD,NaN,MySQL;PostgreSQL,"Developer, embedded applications or devices","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Hispanic or Latino/a/x,Man
666,Yes,36.0,25,Yearly,18000.0,23267.0,United Kingdom,Pound sterling,GBP,NaN,DynamoDB;MariaDB;Microsoft SQL Server;MongoDB;...,"Designer;Developer, game or graphics;Developer...",I never completed any formal education,"Independent contractor, freelancer, or self-em...",White or of European descent,Man
667,Yes,33.0,12,Yearly,63000.0,81433.0,United Kingdom,Pound sterling,GBP,NaN,SQLite,"Developer, desktop or enterprise applications;...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
668,Yes,35.0,16,Yearly,68000.0,73507.0,Germany,European Euro,EUR,MongoDB;Redis,Elasticsearch;MariaDB;MongoDB;MySQL;PostgreSQL...,"Developer, back-end;Developer, front-end;Devel...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man
669,Yes,24.0,20,NaN,NaN,NaN,Sri Lanka,NaN,NaN,DynamoDB;Firebase;MongoDB;Oracle,Microsoft SQL Server;MySQL;Oracle;SQLite,Data or business analyst;Data scientist or mac...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Not employed, but looking for work",South Asian;Southeast Asian,Man
670,Yes,22.0,17,NaN,NaN,NaN,United States,NaN,NaN,Microsoft SQL Server;MongoDB;MySQL,Microsoft SQL Server;MongoDB;MySQL,Data or business analyst;Database administrato...,"Associate degree (A.A., A.S., etc.)","Not employed, but looking for work",White or of European descent,Woman
671,Yes,NaN,17,NaN,NaN,NaN,India,NaN,NaN,NaN,Firebase;Microsoft SQL Server,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN
672,No,57.0,19,NaN,NaN,NaN,United States,United States dollar,USD,NaN,Microsoft SQL Server,Data or business analyst;Database administrato...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
673,Yes,31.0,11,Yearly,110000.0,110000.0,United States,United States dollar,USD,NaN,Elasticsearch;PostgreSQL,Data scientist or machine learning specialist;...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,South Asian,Woman
674,No,29.0,16,Yearly,107000.0,107000.0,United States,United States dollar,USD,NaN,Elasticsearch;Microsoft SQL Server,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
675,Yes,31.0,16,Yearly,150000.0,150000.0,United States,United States dollar,USD,MySQL,Firebase,"Developer, mobile;Engineering manager","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Hispanic or Latino/a/x,Man
676,Yes,24.0,11,Yearly,90000.0,90000.0,United States,United States dollar,USD,DynamoDB;Elasticsearch;PostgreSQL;Redis,DynamoDB;Elasticsearch;MariaDB;Microsoft SQL S...,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man
677,Yes,32.0,10,Yearly,45000.0,45000.0,United States,United States dollar,USD,Microsoft SQL Server;PostgreSQL;SQLite,Microsoft SQL Server;SQLite,Scientist,"Professional degree (JD, MD, etc.)",Employed full-time,White or of European descent,Man
678,No,48.0,13,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Engineering manager,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man

In [42]:
df.set_index('Respondent' , inplace = True)

In [43]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
20,I am a developer by profession,Yes,40.0,18,NaN,NaN,NaN,Spain,European Euro,EUR,...,Easy,Too short,No,"Another engineering discipline (such as civil,...",Spring,Angular.js;Spring,Just as welcome now as I felt last year,50.0,22,17
21,I am a student who is learning to code,Yes,23.0,16,NaN,NaN,NaN,Belgium,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Gatsby;React.js;Spring;Vue.js,Angular;ASP.NET Core;Express;React.js;Spring,NaN,NaN,7,NaN
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
23,I am a developer by profession,Yes,27.0,14,NaN,NaN,NaN,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,8,3
24,I am a developer by profession,Yes,45.0,14,Yearly,85000.0,91883.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,42.0,30,20
25,I am a developer by profession,No,NaN,25,Monthly,NaN,NaN,Portugal,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,23,18
26,I am a developer by profession,No,NaN,12,Yearly,94000.0,71093.0,Canada,Canadian dollar,CAD,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Django;React.js,Just as welcome now as I felt last year,40.0,17,10
27,"I used to be a developer by profession, but no...",Yes,NaN,12,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Appropriate in length,No,"A humanities discipline (such as literature, h...",Flask,Flask,Just as welcome now as I felt last year,NaN,20,20
28,I am a student who is learning to code,Yes,NaN,22,NaN,NaN,NaN,China,NaN,NaN,...,Neither easy nor difficult,Too long,No,"A health science (such as nursing, pharmacy, r...",NaN,NaN,Just as welcome now as I felt last year,NaN,2,NaN
29,I am a student who is learning to code,Yes,18.0,15,NaN,NaN,NaN,Ukraine,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,Not applicable - I did not use Stack Overflow ...,NaN,Less than 1 year,NaN
30,I am a developer by profession,Yes,NaN,14,Yearly,30000.0,38778.0,United Kingdom,Pound sterling,GBP,...,Neither easy nor difficult,Too long,No,"Information systems, information technology, o...",Express;React.js;Vue.js,Express;Vue.js,A lot less welcome now than last year,37.0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61490,NaN,Yes,NaN,14,NaN,NaN,NaN,United Kingdom,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Ruby on Rails,Flask;jQuery;Vue.js,Just as welcome now as I felt last year,NaN,13,NaN
61561,NaN,Yes,64.0,18,NaN,NaN,NaN,France,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular.js;jQuery;React.js;Vue.js,jQuery,A lot more welcome now than last year,NaN,30,NaN
61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61907,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Malaysia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61983,NaN,Yes,NaN,25,NaN,NaN,NaN,Pakistan,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Django;Flask,NaN,NaN,NaN,Less than 1 year,3
62391,NaN,Yes,NaN,Younger than 5 years,NaN,NaN,NaN,Morocco,NaN,NaN,...,Neither easy nor difficult,Too short,NaN,NaN,Angular.js;Express;React.js;Ruby on Rails,Angular.js;Express;React.js;Ruby on Rails,NaN,NaN,Less than 1 year,Less than 1 year
62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62834,NaN,Yes,17.0,10,NaN,NaN,NaN,Canada,NaN,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,7,NaN
62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
63396,NaN,Yes,NaN,24,NaN,NaN,NaN,Monaco,NaN,NaN,...,NaN,NaN,NaN,NaN,Gatsby,Gatsby,NaN,NaN,1,NaN
63452,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63640,NaN,Yes,NaN,8,NaN,NaN,NaN,Australia,NaN,NaN,...,NaN,NaN,No,NaN,Angular;Angular.js;Express;jQuery;React.js;Vue.js,Express;jQuery,Somewhat more welcome now than last year,NaN,6,2
63796,NaN,Yes,NaN,16,NaN,NaN,NaN,Bangladesh,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,6,3
63820,NaN,Yes,NaN,17,NaN,NaN,NaN,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,A lot less welcome now than last year,NaN,3,NaN
63994,NaN,Yes,NaN,27,NaN,NaN,NaN,Saudi Arabia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,A lot more welcome now than last year,NaN,Less than 1 year,Less than 1 year
64013,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Bulgaria,NaN,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,NaN,NaN,NaN
64104,NaN,Yes,NaN,19,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,2,NaN
64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64330,NaN,Yes,NaN,5,NaN,NaN,NaN,Thailand,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
64480,NaN,Yes,NaN,21,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,3,NaN
64567,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET Core,NaN,NaN,NaN,NaN
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [45]:
df.loc[3, 'Age']

nan

In [46]:
df.reset_index()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
6,7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
8,9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
10,11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
11,12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
12,13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
14,15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
15,16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
18,19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
19,20,I am a developer by profession,Yes,40.0,18,NaN,NaN,NaN,Spain,European Euro,...,Easy,Too short,No,"Another engineering discipline (such as civil,...",Spring,Angular.js;Spring,Just as welcome now as I felt last year,50.0,22,17
20,21,I am a student who is learning to code,Yes,23.0,16,NaN,NaN,NaN,Belgium,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Gatsby;React.js;Spring;Vue.js,Angular;ASP.NET Core;Express;React.js;Spring,NaN,NaN,7,NaN
21,22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
22,23,I am a developer by profession,Yes,27.0,14,NaN,NaN,NaN,Germany,European Euro,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,8,3
23,24,I am a developer by profession,Yes,45.0,14,Yearly,85000.0,91883.0,Germany,European Euro,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,42.0,30,20
24,25,I am a developer by profession,No,NaN,25,Monthly,NaN,NaN,Portugal,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,23,18
25,26,I am a developer by profession,No,NaN,12,Yearly,94000.0,71093.0,Canada,Canadian dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Django;React.js,Just as welcome now as I felt last year,40.0,17,10
26,27,"I used to be a developer by profession, but no...",Yes,NaN,12,NaN,NaN,NaN,United States,NaN,...,Easy,Appropriate in length,No,"A humanities discipline (such as literature, h...",Flask,Flask,Just as welcome now as I felt last year,NaN,20,20
27,28,I am a student who is learning to code,Yes,NaN,22,NaN,NaN,NaN,China,NaN,...,Neither easy nor difficult,Too long,No,"A health science (such as nursing, pharmacy, r...",NaN,NaN,Just as welcome now as I felt last year,NaN,2,NaN
28,29,I am a student who is learning to code,Yes,18.0,15,NaN,NaN,NaN,Ukraine,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,Not applicable - I did not use Stack Overflow ...,NaN,Less than 1 year,NaN
29,30,I am a developer by profession,Yes,NaN,14,Yearly,30000.0,38778.0,United Kingdom,Pound sterling,...,Neither easy nor difficult,Too long,No,"Information systems, information technology, o...",Express;React.js;Vue.js,Express;Vue.js,A lot less welcome now than last year,37.0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64431,61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64432,61490,NaN,Yes,NaN,14,NaN,NaN,NaN,United Kingdom,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Ruby on Rails,Flask;jQuery;Vue.js,Just as welcome now as I felt last year,NaN,13,NaN
64433,61561,NaN,Yes,64.0,18,NaN,NaN,NaN,France,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular.js;jQuery;React.js;Vue.js,jQuery,A lot more welcome now than last year,NaN,30,NaN
64434,61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64435,61907,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Malaysia,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64436,61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64437,61983,NaN,Yes,NaN,25,NaN,NaN,NaN,Pakistan,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Django;Flask,NaN,NaN,NaN,Less than 1 year,3
64438,62391,NaN,Yes,NaN,Younger than 5 years,NaN,NaN,NaN,Morocco,NaN,...,Neither easy nor difficult,Too short,NaN,NaN,Angular.js;Express;React.js;Ruby on Rails,Angular.js;Express;React.js;Ruby on Rails,NaN,NaN,Less than 1 year,Less than 1 year
64439,62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
64440,62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64441,62834,NaN,Yes,17.0,10,NaN,NaN,NaN,Canada,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,7,NaN
64442,62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
64443,63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64444,63396,NaN,Yes,NaN,24,NaN,NaN,NaN,Monaco,NaN,...,NaN,NaN,NaN,NaN,Gatsby,Gatsby,NaN,NaN,1,NaN
64445,63452,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Russian Federation,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64446,63640,NaN,Yes,NaN,8,NaN,NaN,NaN,Australia,NaN,...,NaN,NaN,No,NaN,Angular;Angular.js;Express;jQuery;React.js;Vue.js,Express;jQuery,Somewhat more welcome now than last year,NaN,6,2
64447,63796,NaN,Yes,NaN,16,NaN,NaN,NaN,Bangladesh,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,6,3
64448,63820,NaN,Yes,NaN,17,NaN,NaN,NaN,Nepal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,A lot less welcome now than last year,NaN,3,NaN
64449,63994,NaN,Yes,NaN,27,NaN,NaN,NaN,Saudi Arabia,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,A lot more welcome now than last year,NaN,Less than 1 year,Less than 1 year
64450,64013,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Bulgaria,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,NaN,NaN,NaN
64451,64104,NaN,Yes,NaN,19,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,2,NaN
64452,64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64453,64330,NaN,Yes,NaN,5,NaN,NaN,NaN,Thailand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
64454,64480,NaN,Yes,NaN,21,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,3,NaN
64455,64567,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET Core,NaN,NaN,NaN,NaN
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [47]:
df.sort_index(inplace=True)

In [48]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
20,I am a developer by profession,Yes,40.0,18,NaN,NaN,NaN,Spain,European Euro,EUR,...,Easy,Too short,No,"Another engineering discipline (such as civil,...",Spring,Angular.js;Spring,Just as welcome now as I felt last year,50.0,22,17
21,I am a student who is learning to code,Yes,23.0,16,NaN,NaN,NaN,Belgium,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Gatsby;React.js;Spring;Vue.js,Angular;ASP.NET Core;Express;React.js;Spring,NaN,NaN,7,NaN
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
23,I am a developer by profession,Yes,27.0,14,NaN,NaN,NaN,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,8,3
24,I am a developer by profession,Yes,45.0,14,Yearly,85000.0,91883.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,42.0,30,20
25,I am a developer by profession,No,NaN,25,Monthly,NaN,NaN,Portugal,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,23,18
26,I am a developer by profession,No,NaN,12,Yearly,94000.0,71093.0,Canada,Canadian dollar,CAD,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Django;React.js,Just as welcome now as I felt last year,40.0,17,10
27,"I used to be a developer by profession, but no...",Yes,NaN,12,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Appropriate in length,No,"A humanities discipline (such as literature, h...",Flask,Flask,Just as welcome now as I felt last year,NaN,20,20
28,I am a student who is learning to code,Yes,NaN,22,NaN,NaN,NaN,China,NaN,NaN,...,Neither easy nor difficult,Too long,No,"A health science (such as nursing, pharmacy, r...",NaN,NaN,Just as welcome now as I felt last year,NaN,2,NaN
29,I am a student who is learning to code,Yes,18.0,15,NaN,NaN,NaN,Ukraine,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,Not applicable - I did not use Stack Overflow ...,NaN,Less than 1 year,NaN
30,I am a developer by profession,Yes,NaN,14,Yearly,30000.0,38778.0,United Kingdom,Pound sterling,GBP,...,Neither easy nor difficult,Too long,No,"Information systems, information technology, o...",Express;React.js;Vue.js,Express;Vue.js,A lot less welcome now than last year,37.0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65607,I am a developer by profession,No,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;ASP.NET;ASP.NET Core;React.js,Angular;ASP.NET;ASP.NET Core,NaN,NaN,NaN,NaN
65609,I code primarily as a hobby,Yes,NaN,NaN,NaN,NaN,NaN,Turkey,NaN,NaN,...,NaN,NaN,NaN,NaN,ASP.NET Core,ASP.NET,Somewhat more welcome now than last year,NaN,NaN,NaN
65610,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Belgium,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65611,I am a developer by profession,No,NaN,10,Monthly,22000.0,38208.0,Denmark,Danish krone,DKK,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,8.0,10,4
65612,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular.js;jQuery;Laravel;React.js;Vue.js,Angular;Angular.js;jQuery;Laravel;React.js;Vue.js,Just as welcome now as I felt last year,NaN,NaN,NaN
65613,I am a developer by profession,Yes,NaN,12,NaN,NaN,NaN,Bosnia and Herzegovina,NaN,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,15,5
65614,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Serbia,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Express,Angular;Express,NaN,NaN,NaN,NaN
65615,I am a developer by profession,No,NaN,NaN,NaN,NaN,NaN,Brazil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65616,I am a developer by profession,Yes,NaN,14,Monthly,NaN,NaN,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;Express;React.js,ASP.NET;ASP.NET Core;Django;Express;Gatsby;jQu...,NaN,40.0,7,3
65617,I am a developer by profession,Yes,NaN,15,Yearly,120000.0,129718.0,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,35.0,9,9
65619,"I am not primarily a developer, but I write co...",Yes,NaN,19,Monthly,30000.0,984.0,Nigeria,Nigerian naira,NGN,...,NaN,NaN,NaN,NaN,Angular,jQuery,NaN,4.0,3,2
65620,I am a developer by profession,No,NaN,26,NaN,NaN,NaN,Nigeria,Nigerian naira,NGN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
65621,I am a developer by profession,No,NaN,11,NaN,NaN,NaN,Brazil,Brazilian real,BRL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
65622,"I am not primarily a developer, but I write co...",Yes,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65623,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Netherlands,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js,ASP.NET Core;React.js,Just as welcome now as I felt last year,NaN,9,3
65624,I am a developer by profession,No,NaN,18,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,11,6
65625,I am a developer by profession,Yes,NaN,17,Monthly,5500000.0,19428.0,Colombia,Colombian peso,COP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,40.0,12,5
65626,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65627,I am a developer by profession,Yes,NaN,8,NaN,NaN,NaN,Israel,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,12,NaN
65628,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Germany,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Django;Express;React.js;Spring,Angular;Spring,NaN,NaN,NaN,NaN
65629,I am a developer by profession,Yes,41.0,15,Yearly,200.0,200.0,United States,United States dollar,USD,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,20
65630,I am a developer by profession,Yes,NaN,17,Monthly,1000000.0,15048.0,Chile,Chilean peso,CLP,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,45.0,7,3
65631,I am a developer by profession,Yes,NaN,13,Yearly,4310000.0,38759.0,Japan,Japanese yen,JPY,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,40.0,5,Less than 1 year
65632,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65633,"I used to be a developer by profession, but no...",No,NaN,NaN,NaN,NaN,NaN,Austria,NaN,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,25,20
65634,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,NaN,React.js,React.js,NaN,NaN,NaN,NaN
65635,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Philippines,NaN,NaN,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,6,Less than 1 year
65636,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65637,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Ethiopia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65639,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,NaN,Georgia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
filt = (df['CurrencySymbol'] == 'EUR')

In [51]:
df[filt]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
20,I am a developer by profession,Yes,40.0,18,NaN,NaN,NaN,Spain,European Euro,EUR,...,Easy,Too short,No,"Another engineering discipline (such as civil,...",Spring,Angular.js;Spring,Just as welcome now as I felt last year,50.0,22,17
23,I am a developer by profession,Yes,27.0,14,NaN,NaN,NaN,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,8,3
24,I am a developer by profession,Yes,45.0,14,Yearly,85000.0,91883.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,42.0,30,20
25,I am a developer by profession,No,NaN,25,Monthly,NaN,NaN,Portugal,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,23,18
33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14
37,I am a developer by profession,Yes,19.0,16,Monthly,NaN,NaN,France,European Euro,EUR,...,Easy,Too long,No,Web development or web design,Gatsby,Express;jQuery;React.js;Vue.js,Somewhat more welcome now than last year,39.0,2,1
38,I am a developer by profession,No,35.0,14,Yearly,90000.0,97288.0,Italy,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js,Express;Gatsby;React.js,Just as welcome now as I felt last year,40.0,20,12
45,I am a developer by profession,Yes,22.0,13,Yearly,34000.0,36753.0,France,European Euro,EUR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;Flask,Angular;Flask;jQuery;Spring,A lot less welcome now than last year,35.0,9,2
46,I am a developer by profession,Yes,24.0,14,Yearly,35000.0,37834.0,France,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,35.0,6,4
50,I am a developer by profession,No,57.0,46,NaN,NaN,NaN,Austria,European Euro,EUR,...,Neither easy nor difficult,Too long,No,Fine arts or performing arts (such as graphic ...,jQuery,jQuery,Just as welcome now as I felt last year,35.0,10,9
69,I am a developer by profession,Yes,25.0,12,Yearly,550000.0,594539.0,France,European Euro,EUR,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask,Just as welcome now as I felt last year,40.0,13,3
71,I am a developer by profession,Yes,23.0,15,Monthly,NaN,NaN,France,European Euro,EUR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Angular.js;React.js;Symfony;Vue.js,NaN,35.0,8,2
86,I am a developer by profession,Yes,26.0,10,Weekly,2000.0,108100.0,France,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,React.js,A lot more welcome now than last year,60.0,5,3
92,I am a developer by profession,Yes,31.0,11,Yearly,53000.0,57292.0,France,European Euro,EUR,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Express;Spring;Symfony,Express;Spring;Symfony,A lot more welcome now than last year,30.0,19,10
93,"I am not primarily a developer, but I write co...",Yes,42.0,12,Yearly,20000.0,21620.0,Greece,European Euro,EUR,...,Easy,Too long,No,NaN,jQuery,Drupal;jQuery,Just as welcome now as I felt last year,25.0,24,15
106,I am a developer by profession,Yes,24.0,12,Monthly,3550.0,46044.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,40.0,12,3
116,I am a developer by profession,No,38.0,13,Monthly,NaN,NaN,Spain,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;jQuery;Spring,Angular;Express;jQuery;Spring,A lot less welcome now than last year,40.0,25,12
120,I am a developer by profession,Yes,24.0,15,Yearly,57000.0,61616.0,Germany,European Euro,EUR,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",NaN,Laravel,Just as welcome now as I felt last year,40.0,10,6
132,I am a developer by profession,No,38.0,13,Monthly,1200.0,15564.0,Spain,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,NaN,NaN,Gatsby;React.js,A lot more welcome now than last year,20.0,5,4
137,I am a developer by profession,Yes,63.0,17,Yearly,120000.0,129718.0,Germany,European Euro,EUR,...,Easy,Too long,No,"A natural science (such as biology, chemistry,...",NaN,NaN,Just as welcome now as I felt last year,40.0,46,35
148,I am a developer by profession,No,34.0,13,Monthly,4200.0,54480.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Ruby on Rails,Just as welcome now as I felt last year,40.0,10,6
161,I am a developer by profession,Yes,24.0,14,Monthly,2800.0,36324.0,Netherlands,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery;React.js,Angular;Django;jQuery;React.js,Somewhat less welcome now than last year,40.0,10,4
166,I am a developer by profession,Yes,28.0,9,Yearly,45000.0,48644.0,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"A natural science (such as biology, chemistry,...",NaN,NaN,Just as welcome now as I felt last year,40.0,15,6
168,I am a developer by profession,Yes,25.0,14,NaN,NaN,NaN,Italy,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Gatsby;Laravel;React.js,Gatsby;jQuery;React.js,Somewhat more welcome now than last year,35.0,7,4
175,I am a developer by profession,Yes,27.0,19,Weekly,760.0,41100.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too short,No,NaN,Angular;Django;Flask;jQuery;React.js,Django;Flask;jQuery;React.js,A lot more welcome now than last year,16.0,3,3
180,I am a developer by profession,No,34.0,20,Yearly,32000.0,34591.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",NaN,NaN,Just as welcome now as I felt last year,45.0,10,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65071,I am a developer by profession,Yes,NaN,16,Yearly,50500.0,54590.0,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,10,2
65088,I am a developer by profession,No,NaN,12,Yearly,65000.0,70264.0,Germany,European Euro,EUR,...,NaN,NaN,NaN,Mathematics or statistics,Express;Laravel;React.js;Symfony,jQuery;Laravel,NaN,40.0,18,10
65104,I am a developer by profession,Yes,NaN,19,Yearly,NaN,NaN,Germany,European Euro,EUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,5,3
65122,I am a developer by profession,Yes,NaN,12,Monthly,2000.0,25944.0,France,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,8,2
65128,I am a developer by profession,Yes,NaN,11,Monthly,2400.0,31128.0,Austria,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",jQuery;React.js;Ruby on Rails;Spring,jQuery;Ruby on Rails,Just as welcome now as I felt last year,21.0,9,4
65154,I am a developer by profession,No,NaN,18,NaN,NaN,NaN,Belgium,European Euro,EUR,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,39.0,19,15
65160,I am a developer by profession,Yes,NaN,19,NaN,NaN,NaN,Greece,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Not applicable - I did not use Stack Overflow ...,40.0,8,1
65174,I am a developer by profession,Yes,NaN,16,NaN,NaN,NaN,France,European Euro,EUR,...,NaN,NaN,NaN,"A natural science (such as biology, chemistry,...",NaN,NaN,NaN,NaN,9,4
65223,I am a developer by profession,Yes,NaN,16,Monthly,NaN,NaN,Italy,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot less welcome now than last year,24.0,12,4
65227,"I am not primarily a developer, but I write co...",Yes,NaN,15,Yearly,39000.0,42158.0,France,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,35,26
65228,"I am not primarily a developer, but I write co...",No,NaN,46,NaN,NaN,NaN,Netherlands,European Euro,EUR,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,NaN,18,18
65263,I am a developer by profession,Yes,NaN,17,NaN,NaN,NaN,France,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",React.js;Vue.js,Angular;Spring,NaN,45.0,10,7
65270,"I am not primarily a developer, but I write co...",No,NaN,30,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,...,NaN,NaN,NaN,"A health science (such as nursing, pharmacy, r...",NaN,NaN,NaN,46.0,4,Less than 1 year
65400,I am a developer by profession,Yes,NaN,11,Yearly,35500.0,38375.0,Spain,European Euro,EUR,...,NaN,NaN,NaN,NaN,NaN,NaN,Not applicable - I did not use Stack Overflow ...,30.0,13,7
65405,I am a developer by profession,Yes,NaN,17,NaN,NaN,NaN,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,40.0,5,Less than 1 year
65424,I am a developer by profession,Yes,NaN,13,NaN,NaN,NaN,France,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js,Express;Gatsby;React.js,Just as welcome now as I felt last year,NaN,20,10
65427,I am a developer by profession,Yes,NaN,16,Yearly,65000.0,70264.0,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,9,4
65432,I am a developer by profession,Yes,NaN,17,NaN,NaN,NaN,Belgium,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,9,5
65443,I am a developer by profession,Yes,NaN,22,Monthly,NaN,NaN,Netherlands,European Euro,EUR,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,NaN,7,1
65446,I am a developer by profession,Yes,NaN,14,NaN,NaN,NaN,Luxembourg,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Flask;Ruby on Rails,Flask;Ruby on Rails,NaN,40.0,17,9
65478,I am a developer by profession,Yes,NaN,7,NaN,NaN,NaN,Germany,European Euro,EUR,...,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,14,3
65499,I am a developer by profession,Yes,NaN,18,Yearly,25000.0,27025.0,Spain,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,6,2
65537,I am a developer by profession,Yes,NaN,16,NaN,NaN,NaN,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,12,7
65556,I am a developer by profession,Yes,NaN,12,Monthly,NaN,NaN,Belgium,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,20,15
65559,"I am not primarily a developer, but I write co...",Yes,NaN,12,NaN,NaN,NaN,France,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Not applicable - I did not use Stack Overflow ...,NaN,12,3
65561,I am a developer by profession,Yes,NaN,18,Monthly,2300.0,29832.0,Slovenia,European Euro,EUR,...,NaN,NaN,NaN,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,40.0,12,5
65575,I am a developer by profession,Yes,NaN,NaN,Monthly,NaN,NaN,Germany,European Euro,EUR,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,NaN,NaN,NaN
65616,I am a developer by profession,Yes,NaN,14,Monthly,NaN,NaN,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;Express;React.js,ASP.NET;ASP.NET Core;Django;Express;Gatsby;jQu...,NaN,40.0,7,3
65617,I am a developer by profession,Yes,NaN,15,Yearly,120000.0,129718.0,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,35.0,9,9
65623,I am a developer by profession,Yes,NaN,15,NaN,NaN,NaN,Netherlands,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js,ASP.NET Core;React.js,Just as welcome now as I felt last year,NaN,9,3

In [55]:
df.loc[~filt, 'Age'] #not in a filter

In [57]:
high_salary = df['ConvertedComp'] > 75000

In [59]:
df.loc[high_salary, 'Age']

Respondent
8        36.0
16       45.0
17       25.0
18       32.0
19       24.0
24       45.0
36       34.0
38       35.0
41        NaN
42       32.0
43        NaN
48       38.0
51        NaN
52       28.0
54       44.0
57       44.0
64       34.0
65       34.0
67       35.0
69       25.0
74       34.0
80       32.0
82       48.0
86       26.0
89       28.0
97       30.0
99       30.0
100      42.0
107      29.0
110      45.0
         ...
65027     NaN
65053     NaN
65105     NaN
65170     NaN
65194     NaN
65199     NaN
65254     NaN
65278     NaN
65306     NaN
65341     NaN
65354     NaN
65375     NaN
65381     NaN
65410     NaN
65456     NaN
65461     NaN
65468     NaN
65476     NaN
65477     NaN
65502     NaN
65523     NaN
65527     NaN
65528     NaN
65554     NaN
65571     NaN
65586     NaN
65589     NaN
65602     NaN
65604     NaN
65617     NaN
Name: Age, Length: 12086, dtype: float64

In [60]:
Countries = ['India', 'United States', 'United Kingdom', 'Germany', 'Canada']

In [61]:
filt = df['Country'].isin(Countries)

In [73]:
df.loc[filt,'Country'].value_counts()

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
Name: Country, dtype: int64

In [74]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [77]:
#updating columns

In [79]:
people = {
    "first" : ['Corey', 'Jane', 'John'],
    "last" : [' anderson', 'Mary', 'legend'],
    "email" : ['coreyand@gmail.com', 'maryjane@gmail.com', 'johnlegend@gmail.com']
}

In [190]:
df = pd.DataFrame(people)

In [81]:
df

   first       last                 email
0  Corey   anderson    coreyand@gmail.com
1   Jane       Mary    maryjane@gmail.com
2   John     legend  johnlegend@gmail.com

In [82]:
df = df.set_index('first')

In [83]:
df

            last                 email
first
Corey   anderson    coreyand@gmail.com
Jane        Mary    maryjane@gmail.com
John      legend  johnlegend@gmail.com

In [85]:
df = df.reset_index()

In [86]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [94]:
df.columns = ['first_name', 'last_name', 'email']

In [101]:
df.columns = [x.lower() for x in df.columns]

In [96]:
df

  FIRST_NAME  LAST_NAME                 EMAIL
0      Corey   anderson    coreyand@gmail.com
1       Jane       Mary    maryjane@gmail.com
2       John     legend  johnlegend@gmail.com

In [97]:
df.EMAIL

0      coreyand@gmail.com
1      maryjane@gmail.com
2    johnlegend@gmail.com
Name: EMAIL, dtype: object

In [100]:
df.columns = df.columns.str.replace(' ', '_')

In [102]:
df

  first_name  last_name                 email
0      Corey   anderson    coreyand@gmail.com
1       Jane       Mary    maryjane@gmail.com
2       John     legend  johnlegend@gmail.com

In [103]:
df.rename(columns = {'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [104]:
df

   first       last                 email
0  Corey   anderson    coreyand@gmail.com
1   Jane       Mary    maryjane@gmail.com
2   John     legend  johnlegend@gmail.com

In [105]:
df.loc[2]

first                    John
last                   legend
email    johnlegend@gmail.com
Name: 2, dtype: object

In [107]:
df.loc[0] = ['john', 'smith', 'johnsmith@gmail.com']

In [108]:
df

  first    last                 email
0  john   smith   johnsmith@gmail.com
1  Jane    Mary    maryjane@gmail.com
2  John  legend  johnlegend@gmail.com

In [110]:
df.loc[2, ['last', 'email']] = ['Doe', 'johndoe@email.com']
#df.atloc[2, ['last', 'email']] = ['Doe', 'johndoe@email.com'] #Same

In [121]:
filt = (df['email'] == 'johndoe@email.com')

In [123]:
df.loc[filt, 'last'] = "smith"

In [126]:
filt = (df['last'] == 'smith')

In [127]:
df[filt]

  first   last                email
0  john  smith  johnsmith@gmail.com
2  John  smith    johndoe@email.com

In [131]:
df['email'] = df['email'].str.upper()

In [132]:
df

  first   last                email
0  john  smith  JOHNSMITH@GMAIL.COM
1  Jane   Mary   MARYJANE@GMAIL.COM
2  John  smith    JOHNDOE@EMAIL.COM

In [138]:
def update_email(email):
    return email[::-1]

In [139]:
df['email'].apply(update_email)

0    MOC.LIAMG@HTIMSNHOJ
1     MOC.LIAMG@ENAJYRAM
2      MOC.LIAME@EODNHOJ
Name: email, dtype: object

In [140]:
df['email'].apply(len)

0    19
1    18
2    17
Name: email, dtype: int64

In [146]:
df.apply(lambda x : len(x[2]))

first     4
last      5
email    17
dtype: int64

In [148]:
df.apply(pd.Series.max)

first                  john
last                  smith
email    MARYJANE@GMAIL.COM
dtype: object

In [149]:
df.apply(lambda x: x.min())

first                 Jane
last                  Mary
email    JOHNDOE@EMAIL.COM
dtype: object

In [151]:
df.applymap(str.lower)

  first   last                email
0  john  smith  johnsmith@gmail.com
1  jane   mary   maryjane@gmail.com
2  john  smith    johndoe@email.com

In [159]:
df['first'] = df['first'].replace({'john': 'chris', 'Jane': 'Mary'})

In [160]:
df

   first   last                email
0  chris  smith  JOHNSMITH@GMAIL.COM
1   Mary   Mary   MARYJANE@GMAIL.COM
2   John  smith    JOHNDOE@EMAIL.COM

In [166]:
df1.rename(columns = {'ConvertedComp' : 'SalaryUSD'}, inplace = True)

In [181]:
df['Address'] = {'Houston', 'Austin', 'New york'}

In [168]:
df

   first   last                email   Address
0  chris  smith  JOHNSMITH@GMAIL.COM   Houston
1   Mary   Mary   MARYJANE@GMAIL.COM    Austin
2   John  smith    JOHNDOE@EMAIL.COM  New york

In [169]:
df['first'] + ' ' + df['last']

0    chris smith
1      Mary Mary
2     John smith
dtype: object

In [191]:
df['full_name'] = df['first'] +' '+ df['last']

In [192]:
df

   first       last                 email        full_name
0  Corey   anderson    coreyand@gmail.com  Corey  anderson
1   Jane       Mary    maryjane@gmail.com        Jane Mary
2   John     legend  johnlegend@gmail.com      John legend

In [179]:
df.drop(columns = ['first', 'last'], inplace = True)

In [188]:
df

   first       last                 email        full_name
0  Corey   anderson    coreyand@gmail.com  Corey  anderson
1   Jane       Mary    maryjane@gmail.com        Jane Mary
2   John     legend  johnlegend@gmail.com      John legend

In [193]:
df['full_name'].str.split(' ', expand = True)

       0       1         2
0  Corey          anderson
1   Jane    Mary      None
2   John  legend      None

In [194]:
df.append({'first' : 'Tony'}, ignore_index =True)

   first       last                 email        full_name
0  Corey   anderson    coreyand@gmail.com  Corey  anderson
1   Jane       Mary    maryjane@gmail.com        Jane Mary
2   John     legend  johnlegend@gmail.com      John legend
3   Tony        NaN                   NaN              NaN

In [195]:
new = df['first'] == 'Tony'

In [214]:
country_grp = df1.groupby('Country')

In [201]:
country_grp.get_group('India')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
6,7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
21,22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
57,58,I am a developer by profession,Yes,NaN,22,NaN,NaN,NaN,India,Indian rupee,...,Neither easy nor difficult,Too long,NaN,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
62,63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
147,149,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,70.0,5,3
175,177,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,12,8
225,227,I am a developer by profession,Yes,24.0,19,Yearly,840000.0,11728.0,India,Indian rupee,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Gatsby,Flask;Spring,Somewhat more welcome now than last year,45.0,5,2
230,232,I am a student who is learning to code,No,20.0,12,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Laravel,Flask,Just as welcome now as I felt last year,NaN,7,NaN
232,234,I am a developer by profession,Yes,22.0,16,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Angular;Angular.js;Django;Flask;jQuery,Just as welcome now as I felt last year,NaN,4,NaN
266,268,I am a developer by profession,Yes,NaN,27,NaN,NaN,NaN,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",jQuery;Laravel,jQuery;Laravel,A lot more welcome now than last year,90.0,2,NaN
272,274,I am a developer by profession,Yes,26.0,17,NaN,NaN,NaN,India,Indian rupee,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;Express,Angular;Express,NaN,40.0,7,4
277,279,I am a developer by profession,Yes,NaN,14,Monthly,900000.0,150792.0,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular;Django;Express;React.js;Spring,Angular;Django;Express;React.js;Spring,Just as welcome now as I felt last year,50.0,10,3
320,322,I am a developer by profession,Yes,24.0,18,Monthly,25000.0,4188.0,India,Indian rupee,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Angular;Angular.js;jQuery;Laravel,Angular;Angular.js;jQuery;Laravel,Somewhat more welcome now than last year,42.0,1,3
362,364,I am a student who is learning to code,Yes,23.0,17,NaN,NaN,NaN,India,NaN,...,Easy,Too long,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,NaN,6,NaN
374,376,I am a developer by profession,Yes,NaN,20,NaN,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular,Django,A lot more welcome now than last year,60.0,11,8
405,407,I am a student who is learning to code,Yes,21.0,13,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;Flask,Django;Express;Flask,A lot more welcome now than last year,NaN,10,NaN
412,414,I am a developer by profession,Yes,24.0,14,Yearly,1700000.0,23735.0,India,Indian rupee,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,36.0,8,2
472,474,I am a developer by profession,Yes,25.0,15,Yearly,750000.0,10471.0,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular;Angular.js;React.js,Spring,Just as welcome now as I felt last year,8.0,5,3
491,493,I am a developer by profession,Yes,NaN,19,Monthly,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",React.js,React.js,Just as welcome now as I felt last year,NaN,7,3
522,524,"I am not primarily a developer, but I write co...",Yes,23.0,16,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,NaN,Django;Express;Gatsby;jQuery;Laravel;React.js,Django;jQuery,A lot more welcome now than last year,NaN,5,NaN
551,553,I am a developer by profession,Yes,NaN,18,NaN,NaN,NaN,India,Indian rupee,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js;Symfony,React.js,NaN,40.0,9,4
580,582,I am a developer by profession,Yes,NaN,23,NaN,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Spring,Spring,Just as welcome now as I felt last year,50.0,5,2
589,591,I am a developer by profession,Yes,27.0,14,Monthly,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Gatsby;React.js;Ruby on Rails,ASP.NET;ASP.NET Core;Express;jQuery;React.js;R...,A lot more welcome now than last year,40.0,10,3
595,597,I am a developer by profession,Yes,31.0,13,Yearly,2450000.0,34206.0,India,Indian rupee,...,Neither easy nor difficult,Too long,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,40.0,15,8
622,624,I am a developer by profession,Yes,26.0,16,Monthly,30000.0,5028.0,India,Indian rupee,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Express,Angular;Express,Just as welcome now as I felt last year,45.0,7,3
629,631,"I am not primarily a developer, but I write co...",No,21.0,12,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,NaN,8,NaN
671,673,"I used to be a developer by profession, but no...",Yes,NaN,17,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,jQuery,A lot more welcome now than last year,NaN,8,6
696,698,I am a developer by profession,Yes,NaN,17,Yearly,2800000.0,39093.0,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",jQuery,Django;Flask;jQuery,NaN,30.0,6,2
721,723,I am a developer by profession,Yes,30.0,9,Yearly,2200000.0,30716.0,India,Indian rupee,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;React.js;Vue.js,Angular;ASP.NET;jQuery;Vue.js,Just as welcome now as I felt last year,40.0,15,8
750,752,I am a student who is learning to code,Yes,20.0,9,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Too long,No,Mathematics or statistics,Gatsby;React.js;Vue.js,Django;Flask;Gatsby;React.js,Not applicable - I did not use Stack Overflow ...,NaN,11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64036,65503,I am a student who is learning to code,Yes,NaN,18,NaN,NaN,NaN,India,NaN,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",Angular.js;ASP.NET;ASP.NET Core;jQuery;React.js,NaN,A lot less welcome now than last year,NaN,2,NaN
64040,65507,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,jQuery;Laravel,NaN,NaN,NaN,NaN
64048,65517,I am a developer by profession,Yes,NaN,15,Yearly,1200000.0,16754.0,India,Indian rupee,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",React.js,Angular;ASP.NET;ASP.NET Core;jQuery,NaN,40.0,5,3
64053,65523,I am a developer by profession,Yes,NaN,18,Monthly,450000.0,75396.0,India,Indian rupee,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,18
64055,65525,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64056,65526,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64060,65530,I am a developer by profession,Yes,NaN,16,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,5,NaN
64071,65541,I am a developer by profession,Yes,NaN,13,NaN,NaN,NaN,India,Indian rupee,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,React.js,Just as welcome now as I felt last year,NaN,25,5
64098,65569,I am a developer by profession,No,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64111,65584,I am a developer by profession,Yes,NaN,19,Monthly,15000.0,2508.0,India,Indian rupee,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",ASP.NET,ASP.NET,NaN,35.0,4,1
64117,65590,I am a developer by profession,Yes,NaN,21,Monthly,NaN,NaN,India,Indian rupee,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,9,9
64208,14927,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Appropriate in length,No,"A natural science (such as biology, chemistry,...",NaN,NaN,NaN,NaN,NaN,NaN
64219,16598,NaN,Yes,NaN,27,NaN,NaN,NaN,India,NaN,...,Difficult,Appropriate in length,No,Mathematics or statistics,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,NaN,1,Less than 1 year
64261,27253,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,NaN,I never declared a major,NaN,NaN,Not applicable - I did not use Stack Overflow ...,NaN,NaN,NaN
64278,31248,NaN,Yes,35.0,16,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;React.js;Spring,Angular.js;Spring,Just as welcome now as I felt last year,NaN,7,3
64280,32165,NaN,Yes,20.0,12,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Django,ASP.NET Core;Django;Drupal;jQuery,Just as welcome now as I felt last year,NaN,8,NaN
64301,37228,NaN,Yes,NaN,19,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,8,5
64303,37383,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,Django,NaN,NaN,NaN,NaN,NaN
64305,37506,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64307,37772,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64311,38854,NaN,Yes,NaN,22,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,NaN,NaN,15,17
64337,42965,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,Django;Flask,NaN,A lot more welcome now than last year,NaN,NaN,NaN
64350,44880,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,Drupal,NaN,NaN,NaN,NaN
64374,51405,NaN,Yes,NaN,19,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64381,52184,NaN,Yes,20.0,17,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Angular.js;jQuery;Ruby on Rails;Vue.js,Django;Flask;React.js,Just as welcome now as I felt last year,NaN,3,NaN
64391,54757,NaN,Yes,NaN,18,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year
64398,55407,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64439,62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
64442,62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
64452,64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [210]:
country_grp['Sexuality'].value_counts(normalize=True).loc['India']

Sexuality
Straight / Heterosexual                                  0.947742
Bisexual                                                 0.040704
Bisexual;Straight / Heterosexual                         0.003151
Gay or Lesbian                                           0.002626
Queer                                                    0.002363
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer    0.000788
Bisexual;Queer                                           0.000788
Gay or Lesbian;Straight / Heterosexual                   0.000788
Bisexual;Gay or Lesbian;Straight / Heterosexual          0.000263
Bisexual;Straight / Heterosexual;Queer                   0.000263
Gay or Lesbian;Queer                                     0.000263
Straight / Heterosexual;Queer                            0.000263
Name: Sexuality, dtype: float64

In [216]:
country_grp['ConvertedComp'].median().loc['India']

10056.0

In [217]:
country_grp['ConvertedComp'].agg(['median', 'mean'])

                                             median           mean
Country
Afghanistan                                 15163.5  148290.125000
Albania                                     15900.0   25611.000000
Algeria                                      9432.0   10362.812500
Andorra                                     88640.0   88640.000000
Angola                                       5292.0    5292.000000
Antigua and Barbuda                             NaN            NaN
Argentina                                   17520.0   29010.033473
Armenia                                     21066.0   30421.285714
Australia                                   76831.0  146165.814767
Austria                                     51888.0   83077.661342
Azerbaijan                                  11988.0   14909.142857
Bahamas                                     86706.0   86706.000000
Bahrain                                     40196.0   39592.000000
Bangladesh                                   7068.0   21586.559783
Barbados                                    25074.0   25074.000000
Belarus                                     27600.0   30946.106667
Belgium                                     45396.0   77264.657588
Belize                                      49600.0   49600.000000
Benin                                       45281.5   45281.500000
Bhutan                                      11207.0    8825.600000
Bolivia                                      8676.0   14482.857143
Bosnia and Herzegovina                      21522.0   29012.000000
Botswana                                    16092.0   17403.000000
Brazil                                      17184.0   24941.354365
Brunei Darussalam                            2580.0    2580.000000
Bulgaria                                    29832.0   33284.796610
Burkina Faso                                 3960.0    3960.000000
Burundi                                         NaN            NaN
Cambodia                                     8082.0   37914.875000
Cameroon                                     3532.0    4450.600000
...                                             ...            ...
Spain                                       38915.0   72619.356110
Sri Lanka                                    8568.0    9651.944954
Sudan                                        2526.0    3795.000000
Swaziland                                    6414.0    6414.000000
Sweden                                      54000.0   66937.709622
Switzerland                                 98599.0  142001.936288
Syrian Arab Republic                         2916.0    4833.600000
Taiwan                                      33142.0   52124.560000
Tajikistan                                      NaN            NaN
Thailand                                    23064.0   40902.860000
The former Yugoslav Republic of Macedonia   14136.0   17802.133333
Timor-Leste                                     NaN            NaN
Togo                                        11472.0   11383.200000
Trinidad and Tobago                         21936.0   38127.428571
Tunisia                                      7992.0   12530.166667
Turkey                                      17748.0   26460.987013
Turkmenistan                                50000.0   50000.000000
Uganda                                      11136.0   19151.555556
Ukraine                                     30000.0   35289.943144
United Arab Emirates                        37620.0   43955.622642
United Kingdom                              67215.0  140849.074189
United Republic of Tanzania                 13846.0   26266.400000
United States                              115000.0  208826.496443
Uruguay                                     37824.0   49749.046154
Uzbekistan                                  14760.0  102213.333333
Venezuela, Bolivarian Republic of...         3600.0    6280.611111
Viet Nam                                    10344.0   28342.605769
Yemen                                       36000.0   36000.000000
Zambia                                       5452.0   17506.400000
Zimbabwe                                     7200.0   26338.181818

[183 rows x 2 columns]