In [25]:
import statistics
import pandas as pd
import numpy as np

In [3]:
data = [1.3,2.7,3.2,42,-0.1]

In [4]:
avg = statistics.mean(data)

In [5]:
filter(lambda x: x>avg, data)

In [6]:
list(filter(lambda x: x>avg, data))

[42]

In [7]:
countries = ["", "india", "", "Brazil"]

In [8]:
list(filter(None, countries)

['india', 'Brazil']

In [9]:
countries = ["", "india", "", "Brazil"]

In [20]:
data = [["Science","math","physics","7"],[11,13,17,32]]

In [21]:
newdata = pd.DataFrame(data)

In [22]:
newdata

         0     1        2   3
0  Science  math  physics   7
1       11    13       17  32

In [27]:
N = 20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })

In [28]:
df

            A     x         y       C           D
0  2016-01-01   0.0  0.701313     Low   93.831065
1  2016-01-02   1.0  0.144339  Medium  104.196954
2  2016-01-03   2.0  0.909121  Medium   94.306063
3  2016-01-04   3.0  0.821459     Low   90.410795
4  2016-01-05   4.0  0.578125  Medium   90.458636
5  2016-01-06   5.0  0.181357     Low  123.333554
6  2016-01-07   6.0  0.577568     Low   81.619074
7  2016-01-08   7.0  0.304766  Medium   84.404164
8  2016-01-09   8.0  0.206793    High  108.397552
9  2016-01-10   9.0  0.047039    High   95.629947
10 2016-01-11  10.0  0.131250     Low  108.064829
11 2016-01-12  11.0  0.132760  Medium   95.755159
12 2016-01-13  12.0  0.077777  Medium   80.606043
13 2016-01-14  13.0  0.147118     Low  109.123694
14 2016-01-15  14.0  0.166557  Medium   87.769557
15 2016-01-16  15.0  0.294047     Low  108.466065
16 2016-01-17  16.0  0.811894     Low  114.439981
17 2016-01-18  17.0  0.580814    High   96.582311
18 2016-01-19  18.0  0.378416    High   91.841324
19 2016-01-20  19.0  0.197737     Low   92.561976

In [30]:
for col in df:
    print(col)

A
x
y
C
D

In [31]:
df = pd.DataFrame(np.random.randn(4,3), columns=['col1','col2','col3'])

In [33]:
for key,value in df.iteritems():
    print(key,value)

col1 0    0.442108
1    0.713543
2    0.472785
3   -0.573077
Name: col1, dtype: float64
col2 0   -0.980912
1   -1.476485
2   -0.816327
3    0.801123
Name: col2, dtype: float64
col3 0   -0.745223
1    2.204166
2    0.381121
3    0.460451
Name: col3, dtype: float64

In [34]:
for row_index, row in df.iterrows():
    print(row_index,row)

0 col1    0.442108
col2   -0.980912
col3   -0.745223
Name: 0, dtype: float64
1 col1    0.713543
col2   -1.476485
col3    2.204166
Name: 1, dtype: float64
2 col1    0.472785
col2   -0.816327
col3    0.381121
Name: 2, dtype: float64
3 col1   -0.573077
col2    0.801123
col3    0.460451
Name: 3, dtype: float64

In [35]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=0.44210844338610455, col2=-0.9809123366234775, col3=-0.7452225466830271)
Pandas(Index=1, col1=0.7135433899590179, col2=-1.4764852435228495, col3=2.2041660231532623)
Pandas(Index=2, col1=0.472785056374644, col2=-0.8163272317540851, col3=0.3811209104114349)
Pandas(Index=3, col1=-0.5730770646750787, col2=0.8011232814337758, col3=0.4604508722917364)

In [37]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

In [38]:
sorted_df = unsorted_df.sort_index(ascending=False)

In [39]:
print(sorted_df)

       col2      col1
9  2.476574 -0.151495
8 -0.255689 -1.514679
7 -1.077070 -0.740626
6  0.008041  1.568572
5 -0.039623  0.438607
4 -2.581106  1.045472
3  0.176417 -0.379033
2 -1.279404 -2.832930
1 -0.329855 -0.469203
0  0.341322  0.095914

In [40]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

In [41]:
s.str.lower()

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [42]:
s.str.upper()

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [43]:
s.str.len()

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [44]:
s.str.strip()

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [45]:
s.str.split(' ')

0              [Tom]
1    [William, Rick]
2             [John]
3          [Alber@t]
4                NaN
5             [1234]
6       [SteveSmith]
dtype: object

In [46]:
s.str.cat(sep='_')

'Tom_William Rick_John_Alber@t_1234_SteveSmith'

In [ ]:
s.str.g